@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.754);
  background-color:  #5e4ca4ab;
  background: -webkit-radial-gradient(circle, #5e4ca4ab 0%, #161438 70%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior: none;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  background: -webkit-linear-gradient(#908afd, #646cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  font-weight: 500;
  color: #e6e6e6;
  text-decoration: inherit;
}